#root {
  background-color: #4f5c64;
  min-height: 150vh;
  min-width: 900px;
}

button:hover {
  cursor: pointer;
}
/*------------------------------NAVBAR----------------------------------------*/
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 50px;
  background-color: #8898A2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

#logout {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 20px;
  text-decoration: none;
}

#home {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px black;
}

.nav-lists {
  width: 50px;
  margin-left: 0px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 20px;
}

.nav-recommended {
  width: 85px;
  margin-left: 0px;
  padding-top: 6px;
  padding-left: 3px;
}

.nav-link {
  color: white;
  float: left;
  text-shadow: 2px 2px 4px black;
}

#logout {
  float: right;
  width: 60px;
  padding: 0px;
  padding-top: 3px;
}
/* Change the link color on hover */
li a:hover {
  background-color: #657681;
  text-decoration: underline
}

.nav-link.active {
  background-color: #657681;
  color: #00AAE2;
  text-shadow: 2px 2px 4px black;
}

/*------------------------------LANDING--------------------------------------*/

#landing-container > h5 {
  padding-left: 15px;
}

#landing-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  text-shadow: 1px 1px 5px #00AAE2;
}

#welcome {
  text-shadow: 1px 1px gray;
}

.landing-buttons {
  display: flex;
  justify-content: center;
}

.landing-button {
  height: 70px;
  width: 150px;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #000;
}

#demo-button {
  height: 50px;
  width: 125px;
  border-radius: 40px;
}

button a {
  text-decoration: none;
  color: #7b8d93;
}

/*------------------------------SEARCH----------------------------------------*/

#search{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin: auto;
  display: inherit;
  padding-left: 5px;
  border: none;
  box-shadow: 4px 4px 10px #000;
}

.result {
  margin: auto;
  color: gray;
  height: 30px;
  width: 280px;
  background-color: white;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
}

#first {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content {
  display: -webkit-inline-box;
  font-size: 12px;
  margin-top: 5px;
}

#overview {
  margin-top: 3px;
  margin-bottom: 3px;
}

.result-img {
  width: 20px;
  height: 20px;
}


/*------------------------------LOGINFORM------------------------------------*/

#form {
  margin: auto;
  margin-top: 20px;
  width: 200px;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

#login-form {
  margin-top: 100px;
}

#signup-form {
  margin-top: 20px;
}

form {
  width: 300px;
  border-radius: 5px;
  background-color: #8898A2;
  padding: 20px;
}

input[type=submit], input[type=email], input[type=password], input[type=text] {
  margin: 8px 0;
  border: none;
  width: 100%;
}

input[type=email], input[type=password], input[type=text] {
  padding-left: 10px;
}

input[type=submit]:hover {
  background-color: #b8c1c7;
  color: white;
}

input {
  width: 100%;
  height: 40px;
  margin: 5px;
  border-radius: 18px;
}

.form-submit {
  font-weight: bold;
  font-size: 18px;
  color: #5a6972
}

/*----------------------------------LISTS-------------------------------------*/

#list-items-container {
  margin-top: 5px;
  min-height: 200vh;
}

.item {
  margin: auto;
  margin-bottom: 8px;
  color: gray;
  width: 500px;
  background-color: #e3e6e8;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #22282a;
}

#list-item-overview {
  font-size: 12px;
  width: 380px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.list-item-remove {
  border-radius: 10px;
  width: 100%;
  color: #4F5C63;
  font-weight: bold;
  font-size: 8px;
  z-index: 1;
  margin-top: 5px;
  box-shadow: 2px 2px 2px #22282a;
}

.item-img {
  width: 80px;
  min-height: 110px;
  padding-top: 3px;
  box-shadow: 3px 3px 3px #22282a;
}

.list-item-content {
  display: -webkit-inline-box;
  /* font-size: 12px; */
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #e3e6e8;
}

#item-text {
  margin-left: 3px;
}

.draggable {
  width: 15px;
  padding-right: 2px;
  word-wrap: break-word;
  line-height: 0.3;
  color: #a9b5bc;
  overflow: hidden;
  height: 150px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
  padding-left: 5px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.title {
  color: #4f5c63;
  margin-left: 5px;
  text-shadow: 3px 3px 3px white;
  font-size:
}

.small-title {
  margin-left: 5px;
  font-size: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
  text-shadow: 1px 1px white;
}

#item-left-col {
  width: 80px;
}

#sort-button-container {
  margin: 0 auto;
  width: 30%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  align-items: center;
}

.sort-button {
  width: 25%;
  font-size: 9px;
  height: 100%;
  border-radius: 4px;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
  background-color: #d5dadd;
  box-shadow: 3px 3px 10px #000;
}

/*------------------------------ITEM MODAL-----------------------------------*/

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: 5px 5px 5px #22282a;
}

#movie-modal {
  width: 370px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  min-height: 400px;
  display: flex;
  overflow: visible;
  padding: 5px;
  float: left;
}

#movie-poster > img {
  width: 300px;
  height: 400px;
  box-shadow: 4px 4px 10px #000;
}

#modal-background {
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  width: 100%;
  height: 100%;
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto; /* 15% from the top and centered */
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #888;
  width: 250px; /* Could be more or less, depending on screen size */
  height: 250px;
  position: relative;
}

.item-content {
  float: left;
  padding-right: 5px;
}

.item-content > h5 {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.item-content > p {
  font-size: 12px;
  text-align: left;
  margin: 5px;
  color:  #b8c1c6;
  width: 290px;
}

#button-container {
  display: grid;
  width: 50px;
}

.add-buttons {
  background-color: #8898A2;
  border-radius: 3px;
  margin: 4px;
  margin-left: 2px;
  margin-top: 0px;
  box-shadow: 4px 4px 10px #000;
}
/* The Close Button */
#close {
  color: #384247;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: #b8c1c7;
  position: absolute;
  right: -3px;
  top: -3px;
  border-radius: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#show-comments {
  border-radius: 10px;
  color: #4F5C63;
  font-weight: bold;
  font-size: 8px;
}

/*------------------------------COMMENT MODAL---------------------------------*/

#modal-container {
  width: 80%;
  min-height: 200vh;
  margin: auto;
  padding: 10px;
}

#comment-modal {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  min-height: 400px;
  display: flex;
  overflow: visible;
  padding: 5px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: 5px 5px 5px #22282a;
}

#modal-background {
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  width: 100%;
  height: 100%;
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 0 auto; /* 15% from the top and centered */
  margin-top: 20px;
  /* margin-bottom: 40px; */
  padding: 20px;
  border: 1px solid #888;
  width: 250px; /* Could be more or less, depending on screen size */
  height: 250px;
  position: relative;
}

#comment-list {
  margin-top: 5px;
}

.item-content {
  float: left;
  padding-right: 5px;
}

.item-content > h5 {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

/* The Close Button */
#close {
  color: #384247;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: #b8c1c7;
  position: absolute;
  right: -3px;
  top: -3px;
  border-radius: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#comments-title {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  margin-bottom: 5px;
  padding-left: 10px;
}

textarea.login-input {
  border: none;
  width: 100%;
  border-radius: 5px;
  height: 50px;
}

#comment-submit {
  width: 25%;
  height: 20px;
  margin: 0 auto;
  float: right;
  justify-content: center;
  background-color: #b8c1c7;
  font-weight: bold;
  font-size: 9px;

}

#comment-form-container {
  margin: 0 auto;
  height: 90px;
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#comment-form {
  width: 430px;
  height: 70px;
  padding: 5px;
  margin: 0 auto;
  box-shadow: 4px 4px 10px #000;
}

#comment-input {
  width: 98%;
  height: 40px;
}

.comment {
  color: #2F373B;
  background-color: #f1f3f4;
  width: 430px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  box-shadow: 4px 4px 10px #000;
}

#timestamp {
  padding-left: 5px;
  font-weight: bold;
  font-size: 9px;
  color: #8898A1;
}

.comment-name {
  font-size: 10px;
  color: #336699;
}

span.comment-content {
  font-size: 11px;
  padding-left: 5px;
  padding-top: 5px;
}
